@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
:root {
    /* ## Colors */

    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    --wth: hsl(0, 0%, 100%);

    /* ## Typography */
        /* font family */
    --font-family: 'Manrope';
        /* font size */
    --font-size-normal: 0.813rem;
    --font-size-heading: 0.875rem;
        /* font weight */
    --font-weight-500: 500;
    --font-weight-700: 700;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-grayish-blue);
}
.text {
    font-family: var(--font-family);
    font-size: var(--font-size-normal);
    color: var(--grayish-blue);
}
a {
    text-decoration: none;
}

.text.title {
    font-size: var(--font-size-heading);
}
.text.title,
.text.name {
    font-weight: var(--font-weight-700);
    color: var(--very-dark-grayish-blue);
}
.text.share {
    letter-spacing: 2px;
    text-transform: uppercase;
}
img
{
  max-width: 100%;
  height: auto;
}

.attribution { 
	font-size: 0.688rem; 
	text-align: center; 
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 767px) {
    main {
        max-width: 768px;
        margin: 74px 24px;
    }
    .card__container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: var(--wth);
        border-radius: 10px;
    }
    .img-intro {
        width: 100%;
        height: 200px;
        background: url(../images/drawers.jpg);
        background-size: cover;
        
    }
    .side_left {
        position: relative;
        margin: 40px 31px 20px;
    }
    .content__container {
        display: grid;
        grid-template-rows: repeat(3, auto);
        row-gap: 10px;
    }
    .text.title {
        width: 90%;
    }
    
    .text.description {
        width: 99%;
        color: var(--grayish-blue);
    }
    .profil {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        align-items: center;
        padding-top: 10px;
    }
    .avatar {
        width: 40px;
        border-radius: 50px;
    }
    .avatar-name {
        margin-left: 20px;
    }
    .button {
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        background: var(--light-grayish-blue);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 10;
    }
    .button:hover {
        box-shadow: 0 .5px 20px rgba(0,0,0,.3);
    }
    .button.aktif {
        background: var(--desaturated-dark-blue);
    }
    .button.aktif:hover {
        box-shadow: 0 1px 10px rgba(255, 255, 255, 0.3);

    }
    .share-icon {
        display: block;
        width: 15px;
        height: 13px;
        background: var(--desaturated-dark-blue);
        -webkit-mask: url(../images/icon-share.svg);
        cursor: pointer;
    }
    .share-icon.wth {
        background: var(--wth);

    }
    .share-link {
        position: absolute;
        width: 100%;
        background: var(--very-dark-grayish-blue);
        display: flex;
        flex-direction: row;
        border-radius: 0 0 10px 10px;
        padding: 30px 0;
        bottom: 0;
        opacity: 0;
        transition: .4s;
    }
    .share-link.show {
        opacity: 1;
    }

    .text.share {
        margin-left: 30px;
        letter-spacing: 5px;
    }
    .social-bx {
        margin-left: 15px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 15px;
        align-items: center;
    }
    .social-icon {
        cursor: pointer;
        opacity: .85;
        transition: .3s;
    }
    .social-icon:hover {
        opacity: 1;
        transform: scale(1.1);
    }
}

@media screen and (max-width: 350px) {
    main {
        margin: 10px 24px;
    }
    .avatar-name {
        margin-left: 5px;
    }
    .button {
        right: 0;
    }

}

@media screen and (min-width: 568px) {
    main {
        max-width: 768px;
        margin: 100px 60px;
    }
    .card__container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: var(--wth);
        border-radius: 10px;
    }
    .img-intro {
        width: 100%;
        height: 500px;
        background: url(../images/drawers.jpg);
        background-size: cover;
        
    }
    .side_left {
        position: relative;
        margin: 60px 31px 20px;
    }
    .content__container {
        display: grid;
        grid-template-rows: repeat(3, auto);
        row-gap: 20px;
    }
    .text.title {
        width: 70%;
        margin: auto;
        text-align: center;
    }
    
    .text.description {
        width: 99%;
        color: var(--grayish-blue);
    }
    .profil {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        align-items: center;
        padding-top: 10px;
    }
    .avatar {
        width: 40px;
        border-radius: 50px;
    }
    .avatar-name {
        margin-left: 30px;
    }
    .button {
        position: absolute;
        bottom: 5px;
        right: 25px;
        width: 30px;
        height: 30px;
        background: var(--light-grayish-blue);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 10;
    }
    .button:hover {
        box-shadow: 0 .5px 10px rgba(0,0,0,.1);
    }
    .button.aktif {
        background: var(--desaturated-dark-blue);
    }
    .button.aktif:hover {
        box-shadow: 0 1px 10px rgba(255, 255, 255, 0.3);
    }
    .share-icon {
        display: block;
        width: 15px;
        height: 13px;
        background: var(--desaturated-dark-blue);
        -webkit-mask: url(../images/icon-share.svg);
        cursor: pointer;
    }
    .share-icon.wth {
        background: var(--wth);

    }
    .share-link {
        position: absolute;
        width: 100%;
        background: var(--very-dark-grayish-blue);
        display: flex;
        flex-direction: row;
        border-radius: 0 0 10px 10px;
        padding: 30px 0;
        bottom: 0;
        opacity: 0;
        transition: .4s;
    }
    .share-link.show {
        opacity: 1;
    }

    .text.share {
        margin-left: 80px;
        letter-spacing: 5px;
    }
    .social-bx {
        margin-left: 15px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 15px;
        align-items: center;
    }
    .social-icon {
        cursor: pointer;
        opacity: .85;
        transition: .3s;
    }
    .social-icon:hover {
        opacity: 1;
        transform: scale(1.1);
    }
}


@media screen and (min-width: 1024px) {
    main {
        max-width: 100%;
        margin: 185px 335px;
    }
    .card__container {
        display: grid;
        grid-template-columns: .75fr 1fr;
        height: 265px;
    }
    .img-intro {
        width: 100%;
        height: 265px;
        background: url(../images/drawers.jpg);
        background-size: cover;
    }
    .side_left {
        margin: 32px 25px;
    }
    .content__container {
        row-gap: 10px;
    }
    .text.title {
        margin: 0;
        text-align: left;
    }
    .profil {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        align-items: center;
        padding-top: 10px;
    }
    .text.description {
        width: 100%;
    }
    .avatar-name {
        margin-left: 15px;
    }
    .share-link {
        width: max-content;
        background: var(--very-dark-grayish-blue);
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        padding: 15px 30px;
        bottom: 100px;
        right: -45px;
    }
    span {
        position: absolute;
        right: 95px;
        bottom: -10px;
        height: 0;
        width: 0;
        border: 15px solid transparent;
        border-bottom-width: 0;
        border-top-color: var(--very-dark-grayish-blue);

    }
    .text.share {
        margin-left: 0;
        letter-spacing: 5px;
    }
    .social-bx {
        margin-left: 15px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 15px;
        align-items: center;
    }
    .button.aktif:hover {
        box-shadow: 0 1px 10px rgba(77, 7, 7, 0.3);
    }
}

@media screen and (min-width: 1220px) {
    main {
        max-width: 100%;
        margin: 260px 335px;
    }
    .card__container {
        display: grid;
        grid-template-columns: .75fr 1fr;
        height: 265px;
    }
    .img-intro {
        width: 100%;
        height: 265px;
        background: url(../images/drawers.jpg);
        background-size: cover;
        border-radius: 10px 0 0 10px;
    }
    .side_left {
        margin: 32px 25px;
    }
    .content__container {
        row-gap: 10px;
    }
    .text.title {
        margin: 0;
        text-align: left;
    }
    .profil {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        align-items: center;
        padding-top: 10px;
    }
    .text.description {
        width: 100%;
    }
    .avatar-name {
        margin-left: 15px;
    }
    .share-link {
        width: max-content;
        background: var(--very-dark-grayish-blue);
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        padding: 15px 30px;
        bottom: 100px;
        right: -45px;
    }
    span {
        position: absolute;
        right: 95px;
        bottom: -10px;
        height: 0;
        width: 0;
        border: 15px solid transparent;
        border-bottom-width: 0;
        border-top-color: var(--very-dark-grayish-blue);

    }
    .text.share {
        margin-left: 0;
        letter-spacing: 5px;
    }
    .social-bx {
        margin-left: 15px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 15px;
        align-items: center;
    }
    .button.aktif:hover {
        box-shadow: 0 1px 10px rgba(77, 7, 7, 0.3);
    }
}